@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hide the dropdown arrow in Blink-based browsers (e.g., Google Chrome) */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
}


body {
  @apply bg-[#f2f2f2]
}


.animate-theme {
  animation: fadeRight 1s ease-in-out;
}

@keyframes fadeRight {
  0% {
    transform: translateX(10px);
  }
}


.scroll {
  overflow: hidden;
}