@tailwind base;
@tailwind components;
@tailwind utilities;

div > h2 {
  cursor: pointer;
}

body.dark {
  background-color: hsl(207, 26%, 17%);
  color: hsl(200, 15%, 8%);
}

nav.dark {
  background-color: hsl(209, 23%, 22%);
}

h1.dark {
  color: white;
}
