@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* color: white; */
}


/* font classes */

.Sans-Serif {
    font-family: sans-serif;
}
.Serif {
    font-family: serif;
}
.Mono {
    font-family: monospace;
}
